/* wireframing */
* {
    border: red solid 1px;
    padding: 5px;
    margin: 10px;
}


header {
    text-align: center;
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul li {
    display: inline;
}

main {
    
}

img {
    display: block;
    height: 115px;
    width: 115px;
    margin-left: auto;
    margin-right: auto;
}





